<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreetingApp</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a class="nav-brand" asp-controller="Greeting" asp-action="Index">GreetingApp</a>
            <a class="nav-page" asp-controller="Greeting" asp-action="Index">Home</a>
        </nav>
    </header>

    <section class="main-container">
            @RenderBody()
    </section>

    <footer>
          &copy; Anton Ovod 2024 - GreetingApp 
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
